.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
}
.preview div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--background-color);
}
.preview div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.preview.hide {
  display: none;
}