.device-options-container {
  position: absolute;
  z-index: 2;
  left: 0.5rem;
  top: 0.5rem;
  width: 100%;
}
.device-options-container select {
  appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
}
.device-options-container select option {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}