.message__form {
  display: flex;
  position: absolute;
  bottom: 1rem;
  width: calc(100% + 1rem);
  height: 2.875rem;
  align-items: stretch;
}
.message__form input {
  flex: 1 0 0;
  outline: none;
  border: none;
  padding-inline-start: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: -1px 1px 15px -2px var(--shadow-color);
}