.channels {
  min-width: 40vw;
  margin: 0 auto;
  text-align: center;
  display: grid;
  max-height: 100vh;
  grid-template-rows: 1fr 1fr;
  padding-inline: 1rem;
}
.channels h2 {
  padding-block: 1rem;
}
.channels__container {
  overflow-y: auto;
}

.channels__list {
  padding-inline: 0.5rem;
}
.channels__list > :first-child {
  margin-top: 1rem;
}

.channel__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .channels {
    min-width: 60vw;
  }
}
@media screen and (max-width: 770px) {
  .channels {
    min-width: 90vw;
  }
}