.channel__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -1px black;
  margin-bottom: 1rem;
  opacity: 0;
  will-change: opacity;
  animation: appear 1s ease-in 0s forwards;
}
.channel__item__buttons {
  display: flex;
}
.channel__item__buttons button {
  margin-inline: 0.25rem;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 425px) {
  .channel__item {
    justify-content: space-around;
    gap: 0.5rem;
  }
}