.grid {
    display: grid;
    height: 100vh;
    grid-template-rows: 4rem auto;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--background-color-darker);
    border-radius: 10px;
    background-color: var(--background-color-darker);
}

::-webkit-scrollbar {
    width: 4px;
    background-color: var(--background-color-lighter);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px var(--background-color-lighter);
    background-color: var(--background-color-lighter);
}

.loading {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}