.search__results__item {
  border: 2px solid var(--text-color);
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.search__results__item:hover {
  cursor: pointer;
}
.search__results__item img {
  width: 3rem;
  border-radius: 50%;
}
.search__results__item div > p {
  font-size: var(--smaller-font-size);
  color: var(--text-color-inactive);
}
.search__results__item div > p:first-child {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

@media screen and (max-width: 425px) {
  .search__results__item {
    padding: 0.25rem 1rem;
    gap: 0.5rem;
    justify-content: space-between;
  }
  .search__results__item img {
    width: 2rem;
  }
}